# Entorno virtual
.venv/

# Datasets (demasiado pesados para git)
data/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Modelos compilados (device-specific)
*.engine

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
